.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.invoice {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.company-logo {
  text-align: center;
  margin-bottom: 20px;
}

.company-logo img {
  max-width: 300px;
  height: auto;
  border: 0px solid #ccc;
}

.signature {
  text-align: right;
  margin-top: 20px;
}

.signature img {
  max-width: 125px;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header p {
  margin: 5px 0;
}

.details {
  margin-top: 20px;
}

.invoice-details {
  margin-bottom: 20px;
  text-align: left;
}

.billing-details,
.shipping-details {
  margin-bottom: 20px;
  text-align: right;
}

.item-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tfoot {
  font-weight: bold;
}

tfoot .total-label {
  text-align: left;
  font-weight: bold;
}

.total-amount {
  text-align: left;
  font-weight: bold;
}

.total-words {
  text-align: left;
  font-weight: bold;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

@media print {
  .App {
    margin: 0;
  }

  .invoice {
    box-shadow: none;
    padding: 0;
    page-break-after: always;
  }

  .header {
    margin-bottom: 10px;
  }

  .header img {
    max-width: 100px;
  }

  .seller-details {
    margin-left: 10px;
  }

  .details {
    margin-top: 10px;
  }

  .item-list table {
    width: 100%;
    border-collapse: collapse;
  }

  .item-list th,
  .item-list td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
  }

  .item-list th {
    background-color: #f2f2f2;
  }

  .item-list td {
    vertical-align: top;
  }

  .item-list td:last-child {
    text-align: right;
  }

  .item-list .total-label {
    text-align: left;
    font-weight: bold;
  }

  .item-list .total-words {
    text-align: left;
    font-weight: bold;
  }

  button {
    display: none;
  }
}
.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}